.grid{
    display: flex;
    /* flex-grow: 2; */
    flex-wrap: wrap;  
     /* width: 0.1px;  */
    /* height : 0.1px; */
    /* flex-direction: row; */
    /* margin: 1px 1px;  */
    /* margin: 7px;  */
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10rem;
}
.cards{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    justify-content: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 20px;
    
}

.masInfo{
    background: rgb(205, 217, 241);
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    color: rgb(23, 74, 175);
    font-weight: 700;
    
}
a:link {text-decoration:none}